@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap');

:root {
  --font-synco: 'Syncopate', sans-serif;
  --font-bai: 'Bai Jamjuree', sans-serif;
  --font-bodo: 'Bodoni Moda', serif;
  --font-pop: 'Poppins', sans-serif;
  --dark-color-1: #141414;
  --dark-color-2: #191919;
  --dark-color-3: #303030;
  --dark-color-4: #464646;
  --dark-grey-color: #626262;
  --grey-color: #bac4b8;
  --light-grey-color: #dbd8d6;
  --white-color: #fff;
  --black-color: #222;
  --background-color: #f5f0ec;
}

#root {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  font-family: var(--font-pop);
}

.section {
  padding: 50px 5vw;
}

.section-header {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--font-synco);
  color: var(--dark-grey-color);
  margin-bottom: 25px;
}

.article-header {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--font-synco);
  color: var(--dark-grey-color);
  margin-bottom: 12px;
}

.preloader {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dark-color-2);
  color: var(--grey-color);
  z-index: 2;

  h1 {
    font-size: 3vw;
    text-transform: uppercase;
    font-family: var(--font-bai);
    font-weight: 600;
  }

  .preloader-text {
    overflow: hidden;
  }

  h2 {
    font-size: 3vw;
    text-transform: uppercase;
    font-family: var(--font-bodo);
    font-style: italic;
    margin-top: 10px;
    display: inline-block;
  }

  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

@media screen and (min-width: 1000px) {
  .section {
    padding: 100px 5vw;
  }

  .section-header {
    font-size: 22px;
    margin-bottom: 50px;
  }

  .loader-wrapper {
    h1 {
      font-size: 1.5vw;
    }
    h2 {
      font-size: 1.5vw;
    }
  }

  .article-header {
    font-size: 22px;
  }
}
